main{
    font-family: Manrope;
}

.logo {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    font-family: Manrope;
}

.more-about{
    font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */

letter-spacing: 2px;

color: rgba(0, 0, 0, 0.7);
}

.discord-header{
    font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;

color: rgba(0, 0, 0, 0.7);

}

.discord-sub{
    font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
}

.secondary-menu {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    letter-spacing: 1px;
    text-transform: uppercase;
}

.bg-main-color {
    background-color: #7DC7A8;
}

.main-color {
    color: #7DC7A8;
}