.navListItem {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
}

.navListItem:hover {
    text-decoration: underline;
}

.shadowButton {
    filter: drop-shadow(0px 8px 16px rgba(67, 91, 96, 0.16));
    font-size: 16px;
    line-height: auto;
    font-weight: 600;
}


@media (min-width: 1024px) {
    .getStartedButton {
        width: 147px;
    }
}

@media (min-width: 1280px) {
    .getStartedButton {
        width: 170px;
    }
}